<main>
  <ng-container *ngIf="!errorMsg; else noDataTemplate">
    <h2>{{countrySummary.title}}</h2>

    <div class="card-content-row">
      <mat-card>
        <div> {{labelsForInterface.numberEntriesText}} </div>
        <div class="bold"> {{countrySummary.numberOfEntries}} </div>
      </mat-card>
      <mat-card>
          <div> {{labelsForInterface.totalMedalsText}} </div>
          <div class="bold"> {{countrySummary.totalNumberMedals}} </div>
      </mat-card>
      <mat-card>
          <div> {{labelsForInterface.totalAthletesText}} </div>
          <div class="bold"> {{countrySummary.totalNumberAthletes}} </div>
      </mat-card>
    </div>

    <ng-container *ngIf="lineOlympic">
      <div echarts [options]="lineOlympic" class="line-chart"></div>
      <div class="caption">{{labelsForInterface.dates}}</div>
    </ng-container> 
    <a class="link-return-dashboard" routerLink="/dashboard">{{labelsForInterface.backMedalsPerCountry}}</a>
  </ng-container>
  
  <ng-template #noDataTemplate>
      <app-error-data [errorMsg]="errorMsg"></app-error-data>
  </ng-template>
</main>

