<hr />
<p>{{ (olympics$ | async)?.length}} data loaded</p>
<ng-container *ngIf="(olympics$ | async)?.length !== 0">
  <div *ngFor="let olympic of olympics$ | async">
    <h3>{{ olympic.country}} - id = {{olympic.id}}</h3>
    <div *ngFor="let participation of olympic.participations">
        <p>{{participation.year}} - {{participation.city}} - médailles obtenues: {{participation.medalsCount}} en {{participation.year}} - nbr d'athlètes: {{ participation.athleteCount }}</p>
    </div>
  </div>
</ng-container>
