<main>
    <ng-container *ngIf="olympics.length !== 0">
    
        <h2>{{title}}</h2>

        <div class="card-content-row">
            <mat-card>
                <div>{{ numberOfJosText }}</div>
                <div class="bold">{{ numberOfJos }}</div>
            </mat-card>
            <mat-card>
                <div>{{ numberOfCountriesText }}</div>
                <div class="bold">{{ numberOfCountries }}</div>
            </mat-card>
        </div>

        <ng-container *ngIf="pieCountryMedalsSummary">
            <div echarts [options]="pieCountryMedalsSummary" class="pie-chart" (chartClick)="onPieClick($event)"></div>
        </ng-container>
        
    </ng-container>
</main>